* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}
/* background */
body {
  background-color: #f4f3f8;
}
/* nav-bar */
#navFirst img {
  height: 45px;
}
#navbarMonstera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}
#navMid {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navMid div h4 {
  padding: 0px 30px;
  font-size: 20px;
  font-family: Allerta;
  font-weight: 300;
}
#navEnd {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navEnd div img {
  padding: 0px 20px;
}
/* mid-whole-part-two */
#imgMain {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 85vh;
}
/* mid-whole-part-one */
#midWholePart13 {
  display: flex;
}
#midWholePart1 {
  padding-bottom: 2vh;
  padding-left: 60px;
  padding-right: 500px;
  padding-top: 13vh;
  
}
#midWholePart11 div ul li {
  font-size: 20px;
  font-family: allerta;
  padding-bottom: 8px;
}
#monstera {
  font-size: 95px;
  font-family: allerta;
}
#midWholePart12 {
  display: flex;
  justify-content: start;
  font-family: Allerta;
}
#midWholePart121 {
  background-color: #466d50;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  border-radius: 50px;
  margin: 40px 0px;
}
#midWholePart122 {
  margin-left: 10px;
  margin-top: 5px;
}
.midWholePart13Parts {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.midWholePart13Parts h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 3px;
}
.text {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#feeding {
  height: 80px;
}
/* hover-effect */
#navMid div h4:hover {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

